body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 200px 60px 200px;
    display: flex;
    justify-content: space-between;

}

.certificates{
    display: flex;
}
.certificates p{
    margin-right: 10px;

}



.footer-copyright {
    color: red;
    margin-top: -7px;
    background-color: #333;
    font-size: 14px;
    height: 60px;
}
.footer-copyright p {
    color: red;

}


/*轮播图*/
.head-slideshow1{
    width:74px;
    height:100px;
    /* 轮播图居中 */
    margin:1rem auto;
    /* 隐藏超出展示容器的内容 */
    overflow: hidden;
    position: relative;

}

.head-slideshow1 .head-slideshow-img1 {
    width:296px;
    height:400px;
    overflow: hidden;
    position: absolute;
    /* 开启弹性盒，让图片横向排列 */
    display: flex;
    animation: run 10s ease infinite;
}

.head-slideshow1 .head-slideshow-img1 img{
    width:74px;
    height:100px;
}

/* 动画关键帧 */
@keyframes run {
    0%,10%{
        /* margin-left: 0; */
        transform: translateX(0);
    }
    20%,30%{
        /* margin-left: -1200px;; */
        transform: translateX(-74px);
    }
    40%,50%{
        /* margin-left: -2400px; */
        transform: translateX(-148px);
    }
    60%,70%{
        /* margin-left: -3600px; */
        transform: translateX(-222px);
    }
    80%,90%{
        /* margin-left: -4800px; */
        transform: translateX(-296px);
    }
    100%{
        /* margin-left: 0; */
        transform: translateX(0);
    }
}



